<h1>About me</h1>

<p>
    I’m a Software Engineer with a mechanical engineering background.
    Before the software engineering I worked in the production of stadiums and unique buildings around the world.
    I have over 5 years of experience in this field. I also have a master's degree in mechanical engineering and know almost everything about metal cutting processes.
</p>

<p>
    I would like to share my biggest mechanical engineering projects, which I am proud of.
</p>


<h3>Volgograd Arena</h3>
<div class="volga-arena">
            <!-- <img class="volga-photo" src="../../assets/beamsBeforeMill.JPG" width="350"/> -->
            <img class="volga-photo" src="../../assets/BeamAfterMill.JPG" width="350"/>
        <div class="volga-text">
            <p>
                Volgograd Arena is a stadium for the 2018 local football championship in Russia.
                During this project I was responsible for machanical operations.
                The most difficult in terms of machining were the beams of the compression ring, which served as a support for the unique cable-stayed roof of the stadium.
                The complexity of these beams was in the high quality requirements, namely, the tolerance for the length was 16000 0/+1 mm and the tolerance for the angle of the processed surface to the beam axis was &#177;0.25&#176;.
                During production, a virtual assembly of these beams was also made in order to identify the actual dimensions of the ring.
                As a result, all the beams were assembled during the installation of the object without a single problem
            </p>
        </div>
            <img class="volga-photo-last" src="../../assets/Volgograd.png" height="350"/>
</div>
<h3>My Masters project</h3>
<div class="masters-project">
    <div *ngFor='let item of videoList'>
        <a href='about/{{ item.slug }}'>{{ item.name }} </a>
        {{ item.embred }}
    </div>
</div>