<h1>About me</h1>

<p>
    I’m a Software Engineer with a mechanical engineering background.
    Before the software engineering I worked in the production of stadiums and unique buildings around the world.
    I have over 5 years of experience in this field. I also have a master's degree in mechanical engineering and know almost everything about metal cutting processes.
</p>

<p>
    I would like to share my previous mechanical engineering projects, which I am proud of.
</p>

<img class="volgograd-photo" src="../../assets/beamsBeforeMill.JPG" width="350"/>
<img class="volgograd-photo" src="../../assets/BeamAfterMill.JPG" width="350"/>
<img class="volgograd-photo" src="../../assets/Volgograd.png" height="350"/>