<!-- 
<div class="projects">
    <div class="guess-project">
        <h3>Guess Movie By Picture</h3>
    </div>
    <div class="meal-project">
        <h3>Meal Deal</h3>
    </div>
    <div class="sunrise-project">
        <h3>Rise And Shine</h3>
    </div>
    <div class="wish-project">
        <h3>Wish Desk</h3>
    </div>
    <div class="meditation-project">
        <h3>Meditation Cube</h3>
    </div>
    <div class="trails-project">
        <h3>Trail Less Traveled</h3>
    </div>
</div> -->
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>Guess Movie By Picture</mat-grid-tile>
    <mat-grid-tile>Meal Deal</mat-grid-tile>
    <mat-grid-tile>Rise And Shine</mat-grid-tile>
    <mat-grid-tile>Wish Desk</mat-grid-tile>
    <mat-grid-tile>Meditation Cube</mat-grid-tile>
    <mat-grid-tile>Trail Less Traveled</mat-grid-tile>
  </mat-grid-list>