<div class="container">
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                <h3>Guess Movie By Picture</h3>
                <!-- <i class="fa fa-linkedin-square" aria-hidden="false"></i> -->
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>The game Guess Movie by Picture is a multiple choice quiz where a single shot from a movie pops up & the user can pick from 4 choices which movie it is from.</p>
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                <h3>Meal Deal</h3>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>I like tasty food, I like eat it and I like to cook something delicious. Collect your favorite recipes, watch how to cook it and manage your favorite list.</p>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                <h3>Rise and Shine</h3>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Check the sunrise in different locations.</p>
          </div>
      </div>
  </div>
  <div class="card">
    <div class="face face1">
        <div class="content">
            <div class="icon">
              <h3>Wish Desk</h3>
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <p>Visualize your own dreams and wishes.</p>
        </div>
    </div>
</div>
<div class="card">
  <div class="face face1">
      <div class="content">
          <div class="icon">
            <h3>Meditation Cube</h3>
              <i class="fa fa-github-square" aria-hidden="true"></i>
          </div>
      </div>
  </div>
  <div class="face face2">
      <div class="content">
          <p>This website will help you find meditation resources, but without distractions. Youtube and similar websites have many distractions meant to keep you on their site like ads, reccomended videos, auto-playing videos and so on. Our site takes meditation related media and allows you to relax without all the unnecessary extra stimulus.</p>
      </div>
  </div>
</div>
<div class="card">
  <div class="face face1">
      <div class="content">
          <div class="icon">
            <h3>Trail Less Traveled</h3>
              <i class="fa fa-github-square" aria-hidden="true"></i>
          </div>
      </div>
  </div>
  <div class="face face2">
      <div class="content">
          <p>Trail Less Traveled app helps you find the least busy trail based on your preference of trail crowd level, location, difficulty, length, and elevation. Keep calm and hike on while practicing safe social distancing!</p>
      </div>
  </div>
</div>
</div>
